<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>allinaz.AllinazcarTestCases</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>quote</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getPolicyStartDate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>driver_deatils</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Vechile_details</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
