<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6fc185">  <td>18/08/20 18:41:10</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllinazcarTestCases.Vechile_details()[pri:1, instance:allinaz.AllinazcarTestCases@4667ae56]">Vechile_details</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="6fc185">  <td>18/08/20 18:42:31</td>   <td>80603</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllinazcarTestCases.driver_deatils()[pri:2, instance:allinaz.AllinazcarTestCases@4667ae56]">driver_deatils</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="6fc185">  <td>18/08/20 18:40:53</td>   <td>-16533</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllinazcarTestCases.getPolicyStartDate()[pri:0, instance:allinaz.AllinazcarTestCases@4667ae56]">getPolicyStartDate</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="6fc185">  <td>18/08/20 18:38:48</td>   <td>-142180</td> <td title="&gt;&gt;AllinazcarTestCases.launch_allinaz_home_page()[pri:0, instance:allinaz.AllinazcarTestCases@4667ae56]">&gt;&gt;launch_allinaz_home_page</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="6fc185">  <td>18/08/20 18:40:23</td>   <td>-46676</td> <td>&nbsp;</td><td title="&gt;&gt;AllinazcarTestCases.open_quote_page()[pri:0, instance:allinaz.AllinazcarTestCases@4667ae56]">&gt;&gt;open_quote_page</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="6fc185">  <td>18/08/20 18:43:41</td>   <td>151139</td> <td>&nbsp;</td><td title="&lt;&lt;AllinazcarTestCases.quit()[pri:0, instance:allinaz.AllinazcarTestCases@4667ae56]">&lt;&lt;quit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="6fc185">  <td>18/08/20 18:43:31</td>   <td>140937</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllinazcarTestCases.quote()[pri:3, instance:allinaz.AllinazcarTestCases@4667ae56]">quote</td> 
  <td>main@1776957250</td>   <td></td> </tr>
</table>
